<header class="header">
  <a routerLink="/home" class="store-name">Fake Store</a>
</header>

<div *ngIf="items.length > 0; else emptyCart" class="cart-container">
  <h2>Carrito de Compras</h2>
  <ul>
    <li *ngFor="let item of items" class="cart-item">
      <img [src]="item.product.image" alt="{{ item.product.title }}" class="cart-image">
      <div class="cart-item-details">
        <h3>{{ item.product.title }}</h3>
        <p>{{ item.product.price | currency }}</p>
      </div>
      <div class="cart-item-controls">
        <button (click)="updateQuantity(item.product.id, item.quantity - 1)">-</button>
        <span>{{ item.quantity }}</span>
        <button (click)="updateQuantity(item.product.id, item.quantity + 1)">+</button>
      </div>
    </li>
  </ul>
  <p>Total: {{ total | currency }}</p>
  <button (click)="clearCart()">Vaciar Carrito</button>
  <button class="boton gradient" (click)="buyNow()">Comprar Ahora</button>
</div>

<ng-template #emptyCart>
  <p>El carrito está vacío.</p>
</ng-template>




